*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-top: 10rem;
}

.btns-container{
    display: flex;
    gap: 1rem;
}

button{
    border: 3px solid black;
    border-radius: 8px;
    padding: 0.4rem 1rem;
    background: transparent;
    font-weight: 700;
}

button:hover{
    border: 3px solid rgb(36, 110, 172);
}

.number{
    font-size: 60px;
    font-weight: 500;
    color: rgb(44, 160, 44);
}

h1{
    font-size: 3rem;
}